<div #sidebar class="sidebar {{state}}">
    <div class="side-bar-container">
        <p-sidebar-item text="JB" route="/" title="{{'About me'}}"></p-sidebar-item>
        <p-sidebar-item icon="fa-folder" activeIcon="fa-folder-open" route="/projects" title="Projects"></p-sidebar-item>
        <!--    bottom of the sidebar -->
        <p-sidebar-item icon="fa-blog" route="/blog" class="pull-down" title="Blog"></p-sidebar-item>
        <p-sidebar-item route="/settings" icon="fa-gear" title="Settings"></p-sidebar-item>
    </div>
</div>