<div class="dash">
    <div class="dash-container">
        <div class="box square">
            <div class="box-content">
                <img src="assets/images/cat_in_a_sock.jpeg">
            </div>
        </div>
        <div class="box tall">
            <div class="box-content">
                <div class="box-content">
                    os: arch
                    wm: i3wm
                    status-bar: polybar

                </div>
            </div>
        </div>
        <div class="box wide">
            <div class="box-content">
                <div class="box-title">

                </div>
            </div>
        </div>
        <div class="box large-square">
            <div class="box-content">
                <div class="box-title">

                </div>
            </div>
        </div>
    </div>
</div>